.idea/

__pycache__/
*.pyc

myenv-django/
venv/
.env/

# db.sqlite3
media/
staticfiles/

.DS_Store
Thumbs.db

# secrets
.env
.env.*

*.sqlite3
db.sqlite3

# static files
staticfiles/
__pycache__/
*.pyc
.venv/
venv/